<div class="component-container">
    <div nz-row>
        <div nz-col nzSpan="24" class="breadcrumb-container">
            <nz-breadcrumb>
                <nz-breadcrumb-item>
                    <a [routerLink]="'../'">
                        <span> 资产管理</span>
                    </a>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                    资产核销
                </nz-breadcrumb-item>
            </nz-breadcrumb>
        </div>
        <!-- {{propertyOff|json}} -->
        <div nz-col nzSpan="24">

            <nz-spin nzTip='加载中...' [nzSpinning]='loading'>
                <nz-card [nzTitle]="'资产核销'" [nzExtra]="extraTemplate">
                    <!-- {{propertyOff|json}} {{selectedProperties|json}} {{timeRange|json}} {{priceControls|json}} -->
                    <form nz-form [formGroup]="basicInfoForm">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="4" nzRequired>核销资产</nz-form-label>
                            <nz-form-control [nzSpan]="20" nzHasFeedback>
                                <nz-select formControlName="pIds" nzMode="multiple" [(ngModel)]="selectedProperties" nzPlaceHolder="请选择要核销的资产..." nzAllowClear
                                    nzShowSearch [nzServerSearch]="true" (nzOnSearch)="onSearch($event)">
                                    <ng-container *ngFor="let o of optionList">
                                        <nz-option nzCustomContent  *ngIf="!isPropertyLoading" [nzValue]="o.id" [nzLabel]="o.name">{{o.name}} ({{o.address}})</nz-option>
                                    </ng-container>
                                    <nz-option *ngIf="isPropertyLoading" nzDisabled nzCustomContent>
                                        <i class="anticon anticon-loading anticon-spin loading-icon"></i> 搜索数据...
                                    </nz-option>
                                </nz-select>

                                <nz-form-explain *ngIf="basicInfoForm.get('pIds').dirty && basicInfoForm.get('pIds').errors">
                                    <ng-container *ngIf="basicInfoForm.get('pIds').hasError('required')">
                                        请选择要核销的资产！
                                    </ng-container>
                                </nz-form-explain>
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label [nzSpan]="4" nzRequired>核销原因</nz-form-label>
                            <nz-form-control [nzSpan]="20" nzHasFeedback>
                                <input nz-input formControlName="pReason" [(ngModel)]="propertyOff.reason" placeholder="输入核销原因..." type="text">
                                <nz-form-explain *ngIf="basicInfoForm.get('pReason').dirty&&basicInfoForm.get('pReason').errors">
                                    <ng-container *ngIf="basicInfoForm.get('pReason').hasError('required')">
                                        请输入核销原因！
                                    </ng-container>
                                </nz-form-explain>
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label [nzSpan]="4" nzRequired>核销日期</nz-form-label>
                            <nz-form-control [nzSpan]="20" nzHasFeedback>
                                <nz-date-picker formControlName="pOffTime" [(ngModel)]="propertyOff.offTime" [nzFormat]="dateFormat"></nz-date-picker>
                                <nz-form-explain *ngIf="basicInfoForm.get('pOffTime').dirty && basicInfoForm.get('pOffTime').errors">
                                    <ng-container *ngIf="basicInfoForm.get('pOffTime').hasError('required')">
                                        请选择核销日期！
                                    </ng-container>
                                </nz-form-explain>
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label [nzSpan]="4" nzRequired>核销方式</nz-form-label>
                            <nz-form-control [nzSpan]="20" nzHasFeedback>
                                <nz-select formControlName="pOffTypeId" [(ngModel)]="propertyOff.offTypeId" [nzPlaceHolder]="'请选择资产核销方式...'" nzAllowClear>
                                    <nz-option nzLabel="拍卖" nzValue="0"></nz-option>
                                    <nz-option nzLabel="拆迁" nzValue="1"></nz-option>
                                    <nz-option nzLabel="收储" nzValue="2"></nz-option>
                                    <nz-option nzLabel="征收安置" nzValue="4"></nz-option>
                                    <nz-option nzLabel="其他" nzValue="5"></nz-option>
                                </nz-select>

                                <nz-form-explain *ngIf="basicInfoForm.get('pOffTypeId').dirty && basicInfoForm.get('pOffTypeId').errors">
                                    <ng-container *ngIf="basicInfoForm.get('pOffTypeId').hasError('required')">
                                        请选择资产核销方式！
                                    </ng-container>
                                </nz-form-explain>
                            </nz-form-control>
                        </nz-form-item>

                        <!-- <nz-form-item>
                            <nz-form-label [nzSpan]="4" nzRequired>租用面积</nz-form-label>
                            <nz-form-control [nzSpan]="20">
                                <nz-input-number formControlName="pOffArea" [(ngModel)]="propertyOff.rentArea" [nzMin]="1" [nzMax]="1000000000" [nzStep]="0.01"></nz-input-number>
                                平方米
                                <nz-form-explain *ngIf="basicInfoForm.get('pOffArea').dirty && basicInfoForm.get('pOffArea').errors">
                                    <ng-container *ngIf="basicInfoForm.get('pOffArea').hasError('required')">
                                        请输入土地面积！
                                    </ng-container>
                                </nz-form-explain>
                            </nz-form-control>
                        </nz-form-item> -->

                        <nz-form-item>
                            <nz-form-label [nzSpan]="4">备注</nz-form-label>
                            <nz-form-control [nzSpan]="20">
                                <textarea formControlName="pRemark" [(ngModel)]="propertyOff.reamrk" nz-input placeholder="输入资产备注说明信息..." [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
                            </nz-form-control>
                        </nz-form-item>
                        <div nz-col nzSpan="20" nzOffset="4">
                            <nz-upload nzMultiple [nzAction]="pictureUploadUrl" nzListType="picture-card" [(nzFileList)]="pictureList" [nzPreview]="handleAvatarPreview"
                                [nzBeforeUpload]="beforeAvatarUpload" (nzChange)="handlePicturesChange($event)">
                                <i class="anticon anticon-plus"></i>
                                <div class="ant-upload-text"> 上传图片</div>
                            </nz-upload>
                            <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
                                <ng-template #modalContent>
                                    <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
                                </ng-template>
                            </nz-modal>
                        </div>
                        <div nz-col nzSpan="20" nzOffset="4">
                            <nz-upload nzMultiple [nzAction]="fileUploadUrl" [nzFileList]="fileList" (nzChange)="handleFilesChange($event)">
                                <button nz-button>
                                    <i class="anticon anticon-upload"></i>
                                    <span> 上传文件</span>
                                </button>
                            </nz-upload>
                        </div>
                    </form>

                </nz-card>
                <ng-template #extraTemplate>
                    <a class="" (click)="save(false)">
                        <i class="anticon anticon-profile"></i> 保存</a>
                    <a class="m-l-md" (click)="save(true)">
                        <i class="anticon anticon-upload"></i> 保存，并提交</a>
                </ng-template>

            </nz-spin>
        </div>
    </div>
</div>