<div class="component-container">
    <div nz-row>
        <div nz-col nzSpan="24" class="breadcrumb-container">
            <nz-breadcrumb>
                <nz-breadcrumb-item>
                    <a [routerLink]="'../'">
                        <span> 资产列表</span>
                    </a>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                   资产导出
                </nz-breadcrumb-item>
            </nz-breadcrumb>
        </div>

        <div nz-col nzSpan="24">

            <div style="border-bottom: 1px solid rgb(233, 233, 233);">
                <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllUnitChecked()" [nzIndeterminate]="Unitindeterminate">
                  单位选择
                </label>
              </div>
              <br>
              <nz-checkbox-group [(ngModel)]="unit" (ngModelChange)="updateUnitChecked()"></nz-checkbox-group>

            <br>


              <div style="border-bottom: 1px solid rgb(233, 233, 233);">
              <label nz-checkbox [(ngModel)]="allAttributesChecked" (ngModelChange)="updateAllAttributesChecked()" [nzIndeterminate]="Attributesindeterminate">
                字段选择
              </label>
            </div>
            <br>
            <nz-checkbox-group [(ngModel)]="Attributes" (ngModelChange)="updateAttributesChecked()"></nz-checkbox-group>

        </div>



    </div>
</div>