<div class="headerWrapper">
    <header class="header">
      <div class="container-fluid">
        <h1>
          <img src="../../../assets/images/1.jpg"
            alt="element-logo"
            class="nav-logo"
            draggable="false">
          <img src="../../../assets/images/element-logo-small.svg"
            alt="element-logo"
            class="nav-logo-small"
            draggable="false">
            <!-- <i class="iconfont icon-loufang"></i> 资产管理系统 -->
        </h1>
        <ul class="nav">
          <li class="nav-item">
            <a  routerLinkActive="active" [routerLink]="['./dashboard']"><i class="iconfont icon-tongji"></i> 资产大数据</a>
          </li>
          <li class="nav-item">
            <a  routerLinkActive="active" [routerLink]="['./properties']" ><i class="iconfont icon-guanli"></i> 资产管理</a>
          </li>
          <li class="nav-item">
            <a  routerLinkActive="active" [routerLink]="['./map']" ><i class="iconfont icon-ditu"></i> 资产一张图</a>
          </li>
          <!-- <li class="nav-item">
            <a  routerLinkActive="active" [routerLink]="['./manager']" ><i class="iconfont icon-guanlizhongxin"></i> 系统设置</a>
          </li>     -->
        </ul>
  
        <div class="user-info">
          <a nz-dropdown [nzDropdownMenu]="menu">
            城投公司
            <i nz-icon nzType="down"></i>
          </a>
          <!-- <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item (click)='Exit()'>
                <a>退出</a>
              </li>
            </ul>
          </nz-dropdown-menu> -->
        
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item (click)='Exit()'>
                <a>退出</a>
              </li>
            </ul>
          </nz-dropdown-menu>   
          <!-- <nz-avatar nzIcon="anticon anticon-user" nzSrc="../../../assets/images/user.jpg"></nz-avatar> -->
        </div>
      </div>
    </header>
  </div>
  