<div class="component-container">
  <div nz-row>
    <div nz-col nzSpan="24" class="breadcrumb-container">
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <a [routerLink]="'../'">
            <span> 资产列表</span>
          </a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          资产详情
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
    <div nz-col nzSpan="24">
      <nz-spin nzTip='资产详细信息加载中...' [nzSize]="'large'" [nzSpinning]="loading" [nzDelay]="500">

        <nz-card id="propertyDetail" nzTitle="资产详情" [nzExtra]="extraTemplate">
          <div class="basicInfo m-b-md" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
            <div nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
              <img class="logo" src="{{property.logoUrl?property.logoUrl:'http://iph.href.lu/1000x330?text=暂无图片&bg=836&fg=fff'}}" />
            </div>
            <div nz-col nzXs="16" nzSm="16" nzMd="16" nzLg="16" nzXl="16">
              <h1 class="title">
                {{property.name}}
                <nz-tag [nzColor]="property.propertyType=='房屋'?'#2db7f5':'#f50'">{{property.propertyType}}</nz-tag>
              </h1>
              <nz-divider nzDashed="true"></nz-divider>
              <div nz-row>
                <div nz-col nzSpan="24" class="item">
                  <div>产权单位：
                    <a href="javascript:void(0)">{{property.governmentName}}</a>
                  </div>
                </div>
                <div nz-col nzSpan="24" class="item">
                  <div>坐落位置：{{property.address}}</div>
                </div>
                <div nz-col nzSpan="24" class="item">
                  <div>使用单位：{{property.usedPeople}}</div>
                </div>
                <div nz-col nzSpan="8" class="item">
                  <div>取得方式：{{property.getMode}}</div>
                </div>
                <div nz-col nzSpan="16" class="item">
                  <div>取得日期：{{property.getedDate}}</div>
                </div>
               
                <div nz-col nzSpan="8" class="item" *ngIf="property.propertyType=='房屋'">
                  <div>房产面积：{{property.constructArea}} 平方米</div>
                </div>
                <div nz-col nzSpan="16" class="item">
                  <div>土地面积：{{property.landArea}} 平方米</div>
                </div>
                <div nz-col nzSpan="24" class="item">
                  <div>备注：{{property.description}}</div>
                </div>
              </div>
            </div>
          </div>

          <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" nzSize="large">
            <nz-tab nzTitle="详细信息">
              <div class="tabContent" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                  <table class="detailTable">
                    <tbody>
                      <tr class="detailTitle">
                        <td>使用情况</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>使用现状</td>
                        <td>{{property.currentType}} </td>
                      </tr>
                      <tr>
                        <td>用途</td>
                        <td>{{property.useType}} </td>
                      </tr>
                      <tr>
                        <td>抵押情况</td>
                        <td>
                          <i class="anticon" [ngClass]="{'anticon-check-circle':property.isMortgage,'anticon-close-circle':!property.isMortgage}"></i>
                        </td>
                      </tr>
                      <tr>
                        <td>入账情况</td>
                        <td>
                          <i class="anticon" [ngClass]="{'anticon-check-circle':property.isAdmission,'anticon-close-circle':!property.isAdmission}"></i>
                        </td>
                      </tr>

                  </table>
                </div>
                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
                  <table class="detailTable">
                    <tbody>
                      <tr class="detailTitle">
                        <td>产权信息</td>
                        <td></td>
                      </tr>
                      <tr *ngIf="property.estateId">
                        <td>不动产证</td>
                        <td>{{property.estateId}} </td>
                      </tr>
                      <tr *ngIf="property.estateId">
                        <td>办证时间</td>
                        <td>{{property.estateTime}} </td>
                      </tr>
                      <tr *ngIf="property.constructId">
                        <td>房产证</td>
                        <td>{{property.constructId}} </td>
                      </tr>
                      <tr *ngIf="property.constructId">
                        <td>办证时间</td>
                        <td>{{property.constructTime}} </td>
                      </tr>
                      <tr *ngIf="property.landId">
                        <td>土地证</td>
                        <td>{{property.landId}} </td>
                      </tr>
                      <tr *ngIf="property.landId">
                        <td>办证时间</td>
                        <td>{{property.landTime}} </td>
                      </tr>
                      <tr *ngIf="subProperties.length>0">
                        <td>子资产</td>
                        <td>
                          <ul>
                            <li *ngFor="let subProperty of subProperties">
                              <a [routerLink]="['/admin/properties/'+subProperty.id]" target="_blank">{{subProperty.name}}</a>
                            </li>                         
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" *ngIf="property.pictures!=[]">
                  <table class="detailTable">
                    <tbody>
                      <tr class="detailTitle">
                        <td>图片附件</td>
                      </tr>
                      <tr *ngFor="let picture of property.pictures; let i = index">
                        <td>{{i+1}}.
                          <a href="{{picture.href}}" target="_blank">{{picture.title}}</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" *ngIf="property.files!=[]">
                  <table class="detailTable">
                    <tbody>
                      <tr class="detailTitle">
                        <td>文件附件</td>
                      </tr>
                      <tr *ngFor="let file of property.files; let i = index">
                        <td>{{i+1}}.
                          <a href="{{file.src}}" target="_blank">{{file.title}}</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </nz-tab>

            <nz-tab nzTitle="租用信息">
              <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 8, xl: 8, xxl: 8 }" *ngIf="property.rents==[]">
                <div nz-col nzSpan="24" class="text-center">
                  <h1>暂无租用信息</h1>
                </div>
              </div>
              <div class="rentItem" *ngFor="let rent of property.rents">
                <h1>租用起止日期：{{rent.rentTime}} 至 {{rent.backTime}}
                  <span>
                    <nz-tag *ngIf="rent.valid" [nzColor]="'#2db7f5'">租用中</nz-tag>
                  </span>
                </h1>
                <div class="rentDetail" nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 8, xl: 8, xxl: 8 }">
                  <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                    租用方：{{rent.name}}
                  </div>
                  <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                    租用面积：{{rent.rentArea}} 平方米
                  </div>
                  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                    租金情况：
                    <nz-tag *ngFor="let price of rent.priceList;let i=index;"> 第{{i+1}}年租金{{price}}元 </nz-tag>
                  </div>
                  <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                    图片附件：
                    <a *ngFor="let pic of rent.rentPictures;" target="_blank" href="{{pic.href}}"> {{pic.title}} </a>
                  </div>
                  <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                    文件附件：
                    <a *ngFor="let file of rent.rentFiles;" target="_blank" href="{{file.src}}"> {{file.title}} </a>
                  </div>
                  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                    备注：{{rent.remark}}
                  </div>
                  <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                    申请时间：{{rent.processDate}}
                  </div>
                  <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                    审批状态：{{rent.state}}
                  </div>
                  <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                    主管部门审批意见：{{rent.dSuggestion}}
                  </div>
                  <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                    主管部门审批时间：{{rent.dApproveDate}}
                  </div>
                  <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                    管理部门审批意见：{{rent.aSuggestion}}
                  </div>
                  <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                    管理部门审批时间：{{rent.aApproveDate}}
                  </div>
                </div>
              </div>


            </nz-tab>

            <nz-tab nzTitle="巡查信息">
              <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 8, xl: 8, xxl: 8 }" *ngIf="property.patrols==[]">
                <div nz-col nzSpan="24" class="text-center">
                  <h1>暂无巡查信息</h1>
                </div>
              </div>
              <div class="rentItem" *ngFor="let patrol of property.patrols">
                <h1>最近巡查日期：{{patrol.patrolDate}}

                </h1>
                <div class="rentDetail" nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 8, xl: 8, xxl: 8 }">
                  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                    巡查人员：{{patrol.people}}
                  </div>
                  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                    巡查结果：{{patrol.content}}
                  </div>
                  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                    联系方式：{{patrol.tel}}
                  </div>
                  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                    图片附件：
                    <a *ngFor="let pic of patrol.patrolPictures;" target="_blank" href="{{pic.href}}"> {{pic.title}} </a>
                  </div>                 
                </div>
              </div>


            </nz-tab>



            <nz-tab nzTitle="空间信息" (nzSelect)="mapStepInitial()">
              <div class="tabContent" nz-row>
                <div nz-col [nzSpan]="24">
                  <div id="map"></div>
                </div>
              </div>

            </nz-tab>
            <nz-tab nzTitle="资产核销" *ngIf="property.propertyOff!=null">
              <div class="rentItem">
                <h1>核销日期：{{property.propertyOff.offTime}}</h1>
                <div class="rentDetail" nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 8, xl: 8, xxl: 8 }">
                  <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                    核销原因：{{property.propertyOff.offTime}}
                  </div>
                  <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                    核销方式：{{property.propertyOff.reason}}
                  </div>

                  <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                    图片附件：
                    <a *ngFor="let pic of property.propertyOff.offPictures;" target="_blank" href="{{pic.href}}"> {{pic.title}} </a>
                  </div>
                  <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                    文件附件：
                    <a *ngFor="let file of property.propertyOff.offFiles;" target="_blank" href="{{file.src}}"> {{file.title}} </a>
                  </div>
                  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                    备注：{{property.propertyOff.remark}}
                  </div>
                  <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                    申请时间：{{property.propertyOff.processDate}}
                  </div>
                  <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                    审批状态：{{property.propertyOff.state}}
                  </div>
                  <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                    主管部门审批意见：{{property.propertyOff.dSuggestion}}
                  </div>
                  <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                    主管部门审批时间：{{property.propertyOff.dApproveDate}}
                  </div>
                  <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                    管理部门审批意见：{{property.propertyOff.aSuggestion}}
                  </div>
                  <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                    管理部门审批时间：{{property.propertyOff.aApproveDate}}
                  </div>
                </div>
              </div>


            </nz-tab>
          </nz-tabset>
        </nz-card>
        <ng-template #extraTemplate>
          <a [routerLink]="['../edit', property.id]">
            <i class="anticon anticon-edit"></i> 资产变更</a>
          <a class="m-l-md" [routerLink]="['../rent']" [queryParams]='{pid:property.id}'>
            <i class="anticon anticon-plus-circle-o"></i> 发布租用信息</a>
          <a class="m-l-md" [routerLink]="['../off']" [queryParams]='{pid:property.id}' *ngIf="!property.propertyOff">
            <i class="anticon anticon-poweroff"></i> 核销</a>
        </ng-template>

      </nz-spin>
    </div>
  </div>
</div>