<div class="component-container">
    <div nz-row>
        <div nz-col nzSpan="24" class="breadcrumb-container">
            <nz-breadcrumb>
                <nz-breadcrumb-item>
                    <a [routerLink]="'../'">
                        <span> 资产管理</span>
                    </a>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                    {{title}}
                </nz-breadcrumb-item>
            </nz-breadcrumb>
        </div>
        <!-- {{property|json}} -->
        <div nz-col nzSpan="24">
            <nz-spin nzTip='资产信息加载中...' [nzSpinning]='loading'>
                <nz-card [nzTitle]="title" [nzExtra]="extraTemplate">
                    <div class="component-content">
                        <nz-steps [nzCurrent]="current" [nzStatus]="stepStatus">
                            <nz-step nzTitle="详细信息" nzDescription="填写资产的基本信息、使用信息以及产权信息。"></nz-step>
                            <nz-step nzTitle="空间信息" nzDescription="填写资产的空间位置信息。"></nz-step>                           
                            <nz-step nzTitle="相关附件" nzDescription="填写资产照片以及文件信息。"></nz-step>                          
                            <nz-step nzTitle="提交保存" nzDescription="提交入库。"></nz-step>
                        </nz-steps>
                    </div>
                    <div class="step" id="basicInfo" [hidden]="current!=0">
                        <form nz-form [formGroup]="basicInfoForm">
                            <div class="m-b-md" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
                                <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                                    <nz-card nzTitle="基本信息">
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="4" nzRequired>资产名称</nz-form-label>
                                            <nz-form-control [nzSpan]="20" nzHasFeedback>
                                                <input nz-input formControlName="pName" [disabled]="'id>0'" [(ngModel)]="property.name" placeholder="输入资产名称...">
                                                <nz-form-explain *ngIf="basicInfoForm.get('pName').dirty && basicInfoForm.get('pName').errors || basicInfoForm.get('pName').pending ">
                                                    <ng-container *ngIf="basicInfoForm.get('pName').hasError('required')">
                                                        请输入资产名称！
                                                    </ng-container>
                                                    <ng-container *ngIf="basicInfoForm.get('pName').hasError('duplicated')">
                                                        资产名称已存在！
                                                    </ng-container>
                                                    <ng-container *ngIf="basicInfoForm.get('pName').pending">
                                                        验证中...
                                                    </ng-container>
                                                </nz-form-explain>
                                            </nz-form-control>
                                        </nz-form-item>

                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="4" nzRequired>资产类型</nz-form-label>
                                            <nz-form-control [nzSpan]="20">
                                                <nz-radio-group [(ngModel)]="property.propertyTypeId" formControlName="pType" (ngModelChange)="propertyTypeValidateSwicher()">
                                                    <label nz-radio nzValue="0">房产</label>
                                                    <label nz-radio nzValue="1">土地</label>
                                                    <label nz-radio nzValue="2">房产对应土地</label>
                                                </nz-radio-group>
                                                <nz-form-explain *ngIf="basicInfoForm.get('pType').dirty && basicInfoForm.get('pType').errors">
                                                    <ng-container *ngIf="basicInfoForm.get('pType').hasError('required')">
                                                        请选择资产类型！
                                                    </ng-container>
                                                </nz-form-explain>
                                            </nz-form-control>
                                        </nz-form-item>

                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="4" nzRequired>地址</nz-form-label>
                                            <nz-form-control [nzSpan]="20" nzHasFeedback>
                                                <input nz-input formControlName="pAddress" [(ngModel)]="property.address" placeholder="输入资产地址..." type="text">
                                                <nz-form-explain *ngIf="basicInfoForm.get('pAddress').dirty&&basicInfoForm.get('pAddress').errors">
                                                    <ng-container *ngIf="basicInfoForm.get('pAddress').hasError('required')">
                                                        请输入资产地址！
                                                    </ng-container>
                                                </nz-form-explain>
                                            </nz-form-control>
                                        </nz-form-item>

                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="4">坐落四至</nz-form-label>
                                            <nz-form-control [nzSpan]="20">
                                                <input nz-input formControlName="pFourToStation" [(ngModel)]="property.fourToStation" placeholder="输入资产坐落四至..." type="text">
                                            </nz-form-control>
                                        </nz-form-item>

                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="4" nzRequired>获取日期</nz-form-label>
                                            <nz-form-control [nzSpan]="20" nzHasFeedback>
                                                <nz-date-picker formControlName="pGetedDate" [(ngModel)]="property.getedDate" [nzFormat]="'yyyy/MM/dd'"></nz-date-picker>
                                                <nz-form-explain *ngIf="basicInfoForm.get('pGetedDate').dirty && basicInfoForm.get('pGetedDate').errors || basicInfoForm.get('pGetedDate').pending ">
                                                    <ng-container *ngIf="basicInfoForm.get('pGetedDate').hasError('required')">
                                                        请选择获取日期！
                                                    </ng-container>
                                                </nz-form-explain>
                                            </nz-form-control>
                                        </nz-form-item>

                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="4" nzRequired>获取类型</nz-form-label>
                                            <nz-form-control [nzSpan]="20" nzHasFeedback>
                                                <nz-select formControlName="pGetModeId" [(ngModel)]="property.getModeId" [nzPlaceHolder]="'请选择资产获取类型...'" nzAllowClear>
                                                    <nz-option nzLabel="自建" nzValue="0"></nz-option>
                                                    <nz-option nzLabel="购入" nzValue="1"></nz-option>
                                                    <nz-option nzLabel="调配" nzValue="2"></nz-option>
                                                    <nz-option nzLabel="划拨" nzValue="3"></nz-option>
                                                </nz-select>

                                                <nz-form-explain *ngIf="basicInfoForm.get('pGetModeId').dirty && basicInfoForm.get('pGetModeId').errors || basicInfoForm.get('pGetModeId').pending ">
                                                    <ng-container *ngIf="basicInfoForm.get('pGetModeId').hasError('required')">
                                                        请选择资产获取类型！
                                                    </ng-container>
                                                </nz-form-explain>
                                            </nz-form-control>
                                        </nz-form-item>

                                        <nz-form-item *ngIf="property.propertyTypeId==0">
                                            <nz-form-label [nzSpan]="4">房屋层数</nz-form-label>
                                            <nz-form-control [nzSpan]="20">
                                                <nz-input-number formControlName="pFloor" [(ngModel)]="property.floor" [nzMin]="1" [nzMax]="50" [nzStep]="1"></nz-input-number>
                                                层                                                
                                            </nz-form-control>
                                        </nz-form-item>

                                        <nz-form-item *ngIf="property.propertyTypeId==0">
                                            <nz-form-label [nzSpan]="4" [nzRequired]="basicFormValidateConfig.constructAreaRequired">建筑面积</nz-form-label>
                                            <nz-form-control [nzSpan]="20">
                                                <nz-input-number formControlName="pConstructArea" [(ngModel)]="property.constructArea" [nzMin]="1" [nzMax]="1000000000" [nzStep]="0.01"></nz-input-number>
                                                平方米
                                                <nz-form-explain *ngIf="basicInfoForm.get('pConstructArea').dirty && basicInfoForm.get('pConstructArea').errors">
                                                    <ng-container *ngIf="basicInfoForm.get('pConstructArea').hasError('required')">
                                                        请输入建筑面积！
                                                    </ng-container>
                                                </nz-form-explain>
                                            </nz-form-control>

                                        </nz-form-item>

                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="4" nzRequired>土地面积</nz-form-label>
                                            <nz-form-control [nzSpan]="20">
                                                <nz-input-number formControlName="pLandArea" [(ngModel)]="property.landArea" [nzMin]="1" [nzMax]="1000000000" [nzStep]="0.01"></nz-input-number>
                                                平方米
                                                <nz-form-explain *ngIf="basicInfoForm.get('pLandArea').dirty && basicInfoForm.get('pLandArea').errors">
                                                    <ng-container *ngIf="basicInfoForm.get('pLandArea').hasError('required')">
                                                        请输入土地面积！
                                                    </ng-container>
                                                </nz-form-explain>
                                            </nz-form-control>
                                        </nz-form-item>

                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="4">备注</nz-form-label>
                                            <nz-form-control [nzSpan]="20">
                                                <textarea formControlName="pDescription" [(ngModel)]="property.description" nz-input placeholder="输入资产备注说明信息..." [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </nz-card>
                                </div>

                                <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                                    <nz-card nzTitle="使用信息">
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="4" nzRequired>使用方</nz-form-label>
                                            <nz-form-control [nzSpan]="20" nzHasFeedback>
                                                <input nz-input formControlName="pUsedPeolple" [(ngModel)]="property.usedPeople" placeholder="输入资产使用方..." type="text">
                                                <nz-form-explain *ngIf="basicInfoForm.get('pUsedPeolple').dirty && basicInfoForm.get('pUsedPeolple').errors">
                                                    <ng-container *ngIf="basicInfoForm.get('pUsedPeolple').hasError('required')">
                                                        请选择资产使用方！
                                                    </ng-container>
                                                </nz-form-explain>

                                            </nz-form-control>
                                        </nz-form-item>

                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="4" nzRequired>使用现状</nz-form-label>
                                            <nz-form-control [nzSpan]="20" nzHasFeedback>
                                                <nz-select formControlName="pCurrentTypeId" [(ngModel)]="property.currentTypeId" [nzPlaceHolder]="'请选择资产使用现状...'" nzAllowClear>
                                                    <nz-option nzLabel="自用" nzValue="0"></nz-option>
                                                    <nz-option nzLabel="拆除" nzValue="1"></nz-option>
                                                    <nz-option nzLabel="出租" nzValue="2"></nz-option>
                                                    <nz-option nzLabel="出借" nzValue="3"></nz-option>
                                                    <nz-option nzLabel="调配使用" nzValue="4"></nz-option>
                                                    <nz-option nzLabel="闲置" nzValue="5"></nz-option>
                                                </nz-select>

                                                <nz-form-explain *ngIf="basicInfoForm.get('pCurrentTypeId').dirty && basicInfoForm.get('pCurrentTypeId').errors">
                                                    <ng-container *ngIf="basicInfoForm.get('pCurrentTypeId').hasError('required')">
                                                        请选择资产使用现状！
                                                    </ng-container>
                                                </nz-form-explain>
                                            </nz-form-control>
                                        </nz-form-item>

                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="4" nzRequired>用途</nz-form-label>
                                            <nz-form-control [nzSpan]="20" nzHasFeedback>
                                                <nz-select formControlName="pUseTypeId" [(ngModel)]="property.useTypeId" [nzPlaceHolder]="'请选择资产使用现状...'" nzAllowClear>
                                                    <nz-option nzLabel="办公" nzValue="0"></nz-option>
                                                    <nz-option nzLabel="住宅" nzValue="1"></nz-option>
                                                    <nz-option nzLabel="业务" nzValue="2"></nz-option>
                                                    <nz-option nzLabel="工业厂房" nzValue="3"></nz-option>
                                                    <nz-option nzLabel="仓储" nzValue="4"></nz-option>
                                                    <nz-option nzLabel="其他" nzValue="99"></nz-option>
                                                </nz-select>

                                                <nz-form-explain *ngIf="basicInfoForm.get('pUseTypeId').dirty && basicInfoForm.get('pUseTypeId').errors">
                                                    <ng-container *ngIf="basicInfoForm.get('pUseTypeId').hasError('required')">
                                                        请选择资产使用现状！
                                                    </ng-container>
                                                </nz-form-explain>
                                            </nz-form-control>
                                        </nz-form-item>
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="4" nzRequired>抵押情况</nz-form-label>
                                            <nz-form-control [nzSpan]="20">
                                                <nz-radio-group [(ngModel)]="property.isMortgage" formControlName="pIsMortgage">
                                                    <label nz-radio nzValue="true">已抵押</label>
                                                    <label nz-radio nzValue="false">未抵押</label>
                                                </nz-radio-group>
                                                <nz-form-explain *ngIf="basicInfoForm.get('pIsMortgage').dirty && basicInfoForm.get('pIsMortgage').errors">
                                                    <ng-container *ngIf="basicInfoForm.get('pIsMortgage').hasError('required')">
                                                        请选择资产抵押情况！
                                                    </ng-container>
                                                </nz-form-explain>
                                            </nz-form-control>
                                        </nz-form-item>
                                        <nz-form-item>
                                            <nz-form-label [nzSpan]="4" nzRequired>入账情况</nz-form-label>
                                            <nz-form-control [nzSpan]="20">
                                                <nz-radio-group [(ngModel)]="property.isAdmission" formControlName="pIsAdmission">
                                                    <label nz-radio nzValue="true">已入账</label>
                                                    <label nz-radio nzValue="false">未入账</label>
                                                </nz-radio-group>
                                                <nz-form-explain *ngIf="basicInfoForm.get('pIsAdmission').dirty && basicInfoForm.get('pIsAdmission').errors">
                                                    <ng-container *ngIf="basicInfoForm.get('pIsAdmission').hasError('required')">
                                                        请选择资产入账情况！
                                                    </ng-container>
                                                </nz-form-explain>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </nz-card>
                                </div>

                                <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                                    <div class="m-t-md">
                                        <nz-card nzTitle="产权信息">
                                            <nz-form-item>
                                                <nz-form-label [nzSpan]="4" nzRequired>产权单位</nz-form-label>
                                                <nz-form-control [nzSpan]="20" nzHasFeedback>
                                                    <nz-select formControlName="pGovernmentId" [(ngModel)]="property.governmentId" nzPlaceHolder="请选择资产产权单位..." nzAllowClear
                                                        nzShowSearch [nzServerSearch]="true" (nzOnSearch)="onSearch($event)">
                                                        <ng-container *ngFor="let o of optionList">
                                                            <nz-option *ngIf="!isGovernmentLoading" [nzValue]="o.id" [nzLabel]="o.name"></nz-option>
                                                        </ng-container>
                                                        <nz-option *ngIf="isGovernmentLoading" nzDisabled nzCustomContent>
                                                            <i class="anticon anticon-loading anticon-spin loading-icon"></i> 搜索数据...
                                                        </nz-option>
                                                    </nz-select>

                                                    <nz-form-explain *ngIf="basicInfoForm.get('pGovernmentId').dirty && basicInfoForm.get('pGovernmentId').errors">
                                                        <ng-container *ngIf="basicInfoForm.get('pGovernmentId').hasError('required')">
                                                            请选择资产产权单位！
                                                        </ng-container>
                                                    </nz-form-explain>
                                                </nz-form-control>
                                            </nz-form-item>

                                            <nz-form-item>
                                                <nz-form-label [nzSpan]="4" nzRequired>登记方式</nz-form-label>
                                                <nz-form-control [nzSpan]="20">
                                                    <nz-radio-group [(ngModel)]="property.registerEstate" formControlName="pRegisterEstate" (ngModelChange)="registerTypeValidateSwicher()">
                                                        <label nz-radio nzValue="true">不动产证</label>
                                                        <label nz-radio nzValue="false">房产土地证</label>
                                                    </nz-radio-group>
                                                    <nz-form-explain *ngIf="basicInfoForm.get('pRegisterEstate').dirty && basicInfoForm.get('pRegisterEstate').errors">
                                                        <ng-container *ngIf="basicInfoForm.get('pRegisterEstate').hasError('required')">
                                                            请选择资产登记方式！
                                                        </ng-container>
                                                    </nz-form-explain>
                                                </nz-form-control>
                                            </nz-form-item>


                                            <nz-form-item *ngIf="property.registerEstate=='true'">
                                                <nz-form-label [nzSpan]="4" [nzRequired]="basicFormValidateConfig.estateIdRequired">不动产证</nz-form-label>
                                                <nz-form-control [nzSpan]="20" nzHasFeedback>
                                                    <input nz-input formControlName="pEstateId" [(ngModel)]="property.estateId" placeholder="输入不动产证号..." type="text">
                                                    <nz-form-explain *ngIf="basicInfoForm.get('pEstateId').dirty&&basicInfoForm.get('pEstateId').errors">
                                                        <ng-container *ngIf="basicInfoForm.get('pEstateId').hasError('required')">
                                                            请输入资产不动产证编号！
                                                        </ng-container>
                                                    </nz-form-explain>
                                                </nz-form-control>
                                            </nz-form-item>

                                            <nz-form-item *ngIf="property.registerEstate=='true'">
                                                <nz-form-label [nzSpan]="4" [nzRequired]="basicFormValidateConfig.estateTimeRequired">上证日期</nz-form-label>
                                                <nz-form-control [nzSpan]="20" nzHasFeedback>
                                                    <nz-date-picker formControlName="pEstateTime" [(ngModel)]="property.estateTime" [nzFormat]="'yyyy/MM/dd'"></nz-date-picker>
                                                    <nz-form-explain *ngIf="basicInfoForm.get('pEstateTime').dirty && basicInfoForm.get('pEstateTime').errors || basicInfoForm.get('pGetedDate').pending ">
                                                        <ng-container *ngIf="basicInfoForm.get('pEstateTime').hasError('required')">
                                                            请输入不动产证上证日期！
                                                        </ng-container>
                                                    </nz-form-explain>
                                                </nz-form-control>
                                            </nz-form-item>

                                            <nz-form-item *ngIf="property.propertyTypeId==0 && property.registerEstate=='false'">
                                                <nz-form-label [nzSpan]="4" [nzRequired]="basicFormValidateConfig.constructIdRequired">房产证</nz-form-label>
                                                <nz-form-control [nzSpan]="20" nzHasFeedback>
                                                    <input nz-input formControlName="pConstructId" [(ngModel)]="property.constructId" placeholder="输入房产证号..." type="text">
                                                    <nz-form-explain *ngIf="basicInfoForm.get('pConstructId').dirty&&basicInfoForm.get('pConstructId').errors">
                                                        <ng-container *ngIf="basicInfoForm.get('pConstructId').hasError('required')">
                                                            请输入房产证编号！
                                                        </ng-container>
                                                    </nz-form-explain>
                                                </nz-form-control>
                                            </nz-form-item>

                                            <nz-form-item *ngIf="property.propertyTypeId==0 && property.registerEstate=='false'">
                                                <nz-form-label [nzSpan]="4" [nzRequired]="basicFormValidateConfig.constructTimeRequired">上证日期</nz-form-label>
                                                <nz-form-control [nzSpan]="20" nzHasFeedback>

                                                    <nz-date-picker formControlName="pConstructTime" [(ngModel)]="property.constructTime" [nzFormat]="'yyyy/MM/dd'"></nz-date-picker>

                                                    <nz-form-explain *ngIf="basicInfoForm.get('pConstructTime').dirty && basicInfoForm.get('pConstructTime').errors || basicInfoForm.get('pGetedDate').pending ">
                                                        <ng-container *ngIf="basicInfoForm.get('pConstructTime').hasError('required')">
                                                            请输入房产证上证日期！
                                                        </ng-container>
                                                    </nz-form-explain>
                                                </nz-form-control>
                                            </nz-form-item>

                                            <nz-form-item *ngIf="property.registerEstate=='false'">
                                                <nz-form-label [nzSpan]="4" [nzRequired]="basicFormValidateConfig.landIdRequired">土地证</nz-form-label>
                                                <nz-form-control [nzSpan]="20" nzHasFeedback>
                                                    <input nz-input formControlName="pLandId" [(ngModel)]="property.landId" placeholder="输入土地证号..." type="text">
                                                    <nz-form-explain *ngIf="basicInfoForm.get('pLandId').dirty&&basicInfoForm.get('pLandId').errors">
                                                        <ng-container *ngIf="basicInfoForm.get('pLandId').hasError('required')">
                                                            请输入土地证编号！
                                                        </ng-container>
                                                    </nz-form-explain>
                                                </nz-form-control>
                                            </nz-form-item>
                                            <nz-form-item *ngIf="property.registerEstate=='false'">
                                                <nz-form-label [nzSpan]="4" [nzRequired]="basicFormValidateConfig.landTimeRequired">上证日期</nz-form-label>
                                                <nz-form-control [nzSpan]="20" nzHasFeedback>
                                                    <nz-date-picker formControlName="pLandTime" [(ngModel)]="property.landTime" [nzFormat]="'yyyy/MM/dd'"></nz-date-picker>
                                                    <nz-form-explain *ngIf="basicInfoForm.get('pLandTime').dirty && basicInfoForm.get('pLandTime').errors || basicInfoForm.get('pGetedDate').pending ">
                                                        <ng-container *ngIf="basicInfoForm.get('pLandTime').hasError('required')">
                                                            请输入土地证上证日期！
                                                        </ng-container>
                                                    </nz-form-explain>
                                                </nz-form-control>
                                            </nz-form-item>
                                        </nz-card>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="step" id="geoInfo" [hidden]="current!=1">
                        <form nz-form [formGroup]="geoInfoForm">
                            <nz-form-item>
                                <!-- <nz-form-label [nzSpan]="4" nzRequired>地址</nz-form-label> -->
                                <nz-form-control [nzSpan]="24">
                                    <input nz-input formControlName="pLocation" [(ngModel)]="property.location" type="hidden">
                                    <nz-form-explain *ngIf="geoInfoForm.get('pLocation').dirty&&geoInfoForm.get('pLocation').errors">
                                        <ng-container *ngIf="geoInfoForm.get('pLocation').hasError('required')">
                                            请绘制资产位置！
                                        </ng-container>
                                    </nz-form-explain>
                                </nz-form-control>
                            </nz-form-item>
                        </form>
                        <div id="map"></div>
                    </div>
                    <div class="step" id="filesInfo" [hidden]="current!=2">
                        <form nz-form [formGroup]="fileInfoForm">
                            <div class="m-b-md" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
                                <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                                    <nz-card nzTitle="图片附件">

                                        <div class="clearfix">
                                            <nz-upload class="avatar-uploader" [nzAction]="pictureUploadUrl" nzName="avatar" nzListType="picture-card" [nzShowButton]="property.logoPictureId<=0"
                                                [nzPreview]="handleAvatarPreview" [nzRemove]="handleAvatarRemove" [nzBeforeUpload]="beforeAvatarUpload"
                                                [(nzFileList)]="avatarList" (nzChange)="handleAvatarChange($event)">
                                                <ng-container>
                                                    <i class="anticon anticon-plus"></i>
                                                    <div class="ant-upload-text"> 上传资产现场照片</div>
                                                </ng-container>
                                            </nz-upload>

                                            <nz-form-item>
                                                <nz-form-control [nzSpan]="24">
                                                    <input nz-input formControlName="pLogo" [(ngModel)]="property.logoUrl" type="hidden">
                                                    <nz-form-explain *ngIf="fileInfoForm.get('pLogo').dirty&&fileInfoForm.get('pLogo').errors">
                                                        <ng-container *ngIf="fileInfoForm.get('pLogo').hasError('required')">
                                                            请上传资产现场照片！
                                                        </ng-container>
                                                    </nz-form-explain>
                                                </nz-form-control>
                                            </nz-form-item>
                                        </div>
                                        <div class="clearfix m-t-md">
                                            <nz-upload nzMultiple [nzAction]="pictureUploadUrl" nzListType="picture-card" [(nzFileList)]="pictureList" [nzPreview]="handleAvatarPreview"
                                                [nzBeforeUpload]="beforeAvatarUpload" (nzChange)="handlePicturesChange($event)">
                                                <i class="anticon anticon-plus"></i>
                                                <div class="ant-upload-text"> 上传其他图片附件</div>
                                            </nz-upload>
                                        </div>
                                        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
                                            <ng-template #modalContent>
                                                <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
                                            </ng-template>
                                        </nz-modal>


                                    </nz-card>
                                </div>

                                <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
                                    <nz-card nzTitle="文件附件">
                                        <nz-upload nzMultiple [nzAction]="fileUploadUrl" [nzFileList]="fileList" (nzChange)="handleFilesChange($event)">
                                            <button nz-button>
                                                <i class="anticon anticon-upload"></i>
                                                <span> 上传文件</span>
                                            </button>
                                        </nz-upload>

                                    </nz-card>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="step" id="subMitAll" [hidden]="current!=3">
                        <div class="m-b-md" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
                            <div nz-col [nzSpan]="24">
                                  
                                <nz-spin nzTip='Loading...' [nzSpinning]="isSubmit">

                                    <div  [hidden]="sameCardProperties.length==0" >
                                            <nz-alert nzType="info" nzMessage="一证多资产提醒" nzShowIcon></nz-alert>

                                            <h2>与当前资产证号相同的资产有：
                                                <nz-tag *ngFor="let sameProperty of sameCardProperties" [nzColor]="sameProperty.isMain?'#f50':''">
                                                    {{sameProperty.name}}
                                                </nz-tag>                                                                                               
                                            </h2>
                                            
                                            <!-- <h2><label nz-checkbox [(ngModel)]="property.isMain">当前资产设为主资产</label></h2> -->
                                    </div>





                                    <h1 class="text-center">是否提交名为 <strong>{{property.name}}</strong> 的资产入库？</h1>

                                    

                                    <div class="text-center">
                                        <button nz-button nzSize="large" (click)="pre()" nzType="primary">
                                            <i class="anticon anticon-left-circle"></i> 返回</button>
                                        <button type="submit" nz-button nzSize="large" (click)="done(false)" nzType="danger">
                                            <i class="anticon anticon-save"></i> 临时保存</button>
                                        <button type="submit" nz-button nzSize="large" (click)="done(true)" nzType="danger">
                                            <i class="anticon anticon-upload"></i> 提交并保存</button>
                                    </div>
                                </nz-spin>

                            </div>
                        </div>

                    </div>
                    <div nz-row>
                        <div nz-col nzAlign="center" [nzSpan]="24" class="text-right">
                            <button nz-button nzType="primary" (click)="pre()" *ngIf="current > 0 && current<3">上一步</button>
                            <button nz-button nzType="primary" (click)="next()" *ngIf="current < 3">下一步</button>
                        </div>
                    </div>
                </nz-card>
                <ng-template #extraTemplate>
                    <a *ngIf="id>0" class="m-r-md" [routerLink]="['../../', property.id]">
                        <i class="anticon anticon-profile"></i> 查看详细信息</a>
                </ng-template>
            </nz-spin>
        </div>
    </div>
</div>